#home{
    border-bottom: transparent;
}

.banner_about{
    background-image: url(../../assets/Img-about.png);
}

.about_container{
    margin: 38px 14% 78px 14%;

    & > div{
        margin-bottom: 52px;
    }
}

@media screen and (max-width: 768px){

    .about_container{
        margin: 19px;

        & > div{
            margin-bottom: 20px;
        }
    }
}