.accommodationList{
    margin: 43px 7% 50px 7%;
    background-color: #F6F6F6;
    padding: 60px;
    border-radius: 25px;
}

.accommodationList_grid{
    height: 829px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:  4.83% 6%;
    position: relative;


    &_item{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;

        .grey-gradient{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10px;
        }
 

        img{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            border-radius: 10px;
        }

        h2{
            z-index: 2;
            position: absolute;
            color:white;
            padding: 20px;
            bottom: 0;
        }
    }
}

@media screen and (max-width: 768px){
    .accommodationList_grid{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        &_item{
            height: 255px;
        }

        #accommodationList_grid_item-4, #accommodationList_grid_item-5, #accommodationList_grid_item-6 {
        display: none;
        }
    }

    .accommodationList{
        margin: 22px 20px 27px 20px;
        padding: 0;
        background-color: transparent;
        height: 850px;
    }
}