header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 100px;

    .nav-link{
        text-decoration: none;
        font-size: 24px;
        margin-left: 45px;

        &_active{
            border-bottom: solid 1.5px #FF6060;
        }   
    }

}

