footer{
    width: 100%;
    margin: auto 0 0 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        margin-top: 66px;
    }

    p{
        color: white;
        font-size: 24px;
    }

    @media screen and (max-width: 768px){
        width: auto;
        padding: 10%;
        img{
            margin: 0;
            width: 130px;
        }

        p{ 
            width: 130px;
            font-size: 12px;
        }

    }
}