.accommodation_container{
    margin: 0 7%;
}

.accommodation_img{
    height: 415px;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        border-radius: 25px;
    }

    #img-status{
        position: absolute;
        color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: 24px;
        z-index: 2;
    }

    i{
        position: absolute;
        top: calc(207.5px - 40px);
        font-size: 80px;
        color: white;
        z-index: 2;

    }
    .fa-angle-left{
        left: 23px;
    }
    .fa-angle-right{
        right: 23px;
    }

    .hide{
        display: none;
    }

}

.accommodation_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation_main-info{
    h1{
        font-size: 36px;
        margin: 30px 0 0 0;
    }
    p{
        margin: 0 0 20px 0;
    }

    span{
        display: inline-block;
        background-color: #FF6060;
        color: white;
        padding: 3px 37px;
        border-radius: 10px;
        margin-right: 10px;

    }
}

.accommodation_host-rating{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.accommodation_host{
    display: flex;
    align-items: center;

    span{
        text-align:end;
        margin-right: 10px;
        width: 50%;
    }

    .accommodation_host_img{
        width: 64px;
        height: 64px;
        border-radius: 64px;

        img{
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            border-radius: 64px;
        }
    }
}

.accommodation_rating{
    margin-top: 25px;
    span{
        margin-left: 8px;
        i{
            font-size: 24px;
        }
        .rating_star_grey{
            color: #E3E3E3;
        }
    }
}

.accommodation_collapse{
    margin: 24px 0 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 76px;

    ul{
        margin: 0;
        padding: 0;
    }
    .accommodation_equipments_li{
        list-style: none;
        padding: 0;
        margin: 5px 0;
    }
}

@media screen and (max-width: 768px){
    .accommodation_container{
        margin: 0 20px;
    }

    .accommodation_img{
        height: 255px;
    
        i{
            font-size: 24px;
            top: 127.5px;
            transform: translateY(-50%);
            
        }

        #img-status{
            font-size: 12px;
        }
    }

    .accommodation_info{
        flex-direction: column;
        align-items: flex-start;

        h1{
            font-size: 18px;
        }
        p{
            font-size: 14px;
            margin-bottom: 5px;
        }
    }

    .accommodation_tags span{
        font-size: 10px;
        padding: 2px 30px;
        margin-top: 5px;
    }

    .accommodation_host-rating{
        flex-direction: row-reverse;
        width: 100%;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
 
    }
    
    .accommodation_host{
        justify-content: flex-end;
        span{
            font-size: 12px;
        }
        .accommodation_host_img{
            width: 32px;
            height: 32px;
            border-radius: 32px;
        }
    }

    .accommodation_rating{
        margin: 0;

        span{
            margin-left: 4px;

            i{
                font-size: 16px;
            }
        }
    }

    .accommodation_collapse{
        margin: 12px 0 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        .accommodation_equipments_li{
            margin: 2px 0;
            font-size: 12px;
        }
    }
    
}

